.HBox {
    -fx-background-radius: 10;
}

.progress-bar .bar {
    -fx-accent: #87CEFA;
    -fx-border-radius: 10;
    -fx-background-radius: 100;
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
}
.progress-bar .track {
    -fx-background-radius: 100;
}
.bar {
    fx-background-radius: 10;
}

.GridPane {
    -fx-background-radius: 10;
}


.VBox {
    -fx-background-color:  #87CEFA;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.Label {
    -fx-padding: 5;
}
